
.button {
  display: inline-block;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 600;
  padding: 20px;
  min-width: 186px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  &:disabled,
  &.disabled {
    opacity: 0.5;
    background-image: none;
    pointer-events: none;
    cursor: default;
  }

  &.block {
    width: 100%;
  }

  .icon {
    margin-right: 5px;

    i {
      vertical-align: middle;
    }
  }

  .iconRight {
    margin-left: 5px;

    i {
      vertical-align: middle;
    }
  }
}

.buttonsGroup {
  margin-left: -40px;
  margin-top: -20px;

  .buttonsGroupItem {
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
  }
}

.theme-default {
  width: 317px;
  height: 60px;
  border: 2px solid #67a2f4;
  background-color: rgba(87, 145, 239, 0);
  padding: 17px 20px;
  color: #3c4858;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.theme-blue {
  @extend .theme-default;

  background-color: #67a2f4;
  color: #fff;
}

.theme-light {
  padding: 17px 20px;
  color: #5a94f1;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px 0 10px;
}
