.h1 {
  color: #3c4858;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.h2 {
  color: #3c4858;
  font-size: 20px;
  line-height: 20px;
}

.h3 {
  color: #3c4858;
  font-size: 18px;
  margin-bottom: 20px;
}

.h4 {
  font-size: 14px;
}

.h5 {
  font-size: 14px;
}

.h6 {
  font-size: 12px;
}
