.form {
  max-width: 730px;

  &__row {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 19px;
    justify-content: flex-end;

    &__item {
      flex: 1 1 50%;
      margin-right: 19px;
      line-height: 53px;
      vertical-align: middle;

      & > div {
        display: flex;
        flex-flow: row nowrap;

        & > * {
          flex: 1 1 auto;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__btns {
    margin-top: 30px;

    button {
      margin-right: 29px;
    }
  }
}
