.form {
  max-width: 730px;

  &__row {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 19px;
    justify-content: flex-end;

    & > div {
      flex: 1 1 auto;
      margin-right: 19px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__btns {
    margin-top: 30px;

    button {
      margin-right: 29px;
    }
  }
}
