.form {
  max-width: 730px;

  &__row {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 19px;
    justify-content: flex-end;

    &__text {
      color: #3c4858;
      font-size: 18px;
    }

    &__item {
      flex: 1 1 50%;
      margin-right: 19px;
      vertical-align: middle;
      line-height: 54px;

      &:last-child {
        margin-right: 0;
      }

      & > div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        & > * {
          flex: 1 1 auto;

          &.xs {
            flex: 1 1 15%;
            margin-right: 12px;
          }

          &.s {
            flex: 1 1 30%;
            margin-right: 12px;
          }

          &.m {
            flex: 1 1 50%;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.disable {
  &.is_disabled {
    input {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &::after {
    display: block;
    content: '';
    height: 1px;
    background-color: #d3dce6;
    margin-top: 18px;
    margin-bottom: 29px;
  }
}
