
.wrap {
  position: relative;
}

.input {
  display: inline-block;
  cursor: text;
  border: 1px solid rgba(181, 190, 202, 0.5);

  &__el {
    display: inline-block;
    color: inherit;
    font-size: inherit;
    background-color: #fff;
  }
}

.error {
  position: absolute;
}

.theme-default {
  .input {
    color: #62758f;
    font-size: 16px;

    .input__el {
      width: 355px;
      height: 51px;
      padding: 18px 26px;
      background: transparent;
    }
  }

  .label {
    display: inline-block;
    color: #c3c0b9;
    font-size: 12px;
    font-weight: 400;
  }

  .error {
    bottom: -16px;
    padding-left: 26px;
    color: #d22b2f;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
  }

  &.errored {
    .input {
      border-color: #d22b2f;
    }

    .error {
      color: #d22b2f;
    }
  }
}
