

.wrap {
  width: 100%;
}

.table {
  width: 100%;
  margin-top: 29px;
  border: 1px solid rgba(181, 190, 202, 0.5);

  &__header {
    border-bottom: 1px solid rgba(181, 190, 202, 0.5);
    background-color: #f9fafc;

    th {
      padding: 22px 15px;
      text-transform: uppercase;
      text-align: left;
      font-size: 12px;
      vertical-align: middle;
      color: #62758f;
    }
  }

  th,
  td {
    &:first-child {
      padding-left: 25px;
    }

    &:last-child {
      padding-right: 25px;
    }
  }

  &__body {
    tr {
      width: 100%;
      border-bottom: 1px solid rgba(181, 190, 202, 0.5);
    }

    td {
      color: #3c4858;
      position: relative;
      padding: 10px 15px;
      vertical-align: middle;
      line-height: 20px;
    }

    tr:nth-child(2n) {
      background-color: #f9fafc;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
  }
}
