$max-content-width: 1100px;
$min-content-width: 900px;

$color-grey: #d3cfc8;
$color-red: #d22a2f;
$color-orange: #f38b00;
$color-orange-dark: #ff671a;

$bg-color: #f1efeb;

$autofill-color: #faffbd;
