.title {
  color: #292b37;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

.form {
  padding: 20px 0;
  text-align: left;
  display: block;

  &__item {
    display: block;

    & > div {
      display: inline-block;
      vertical-align: top;

      span {
        display: block;
        padding: 5px 0;
      }
    }
  }
}

.bold {
  font-weight: 700;
}
