.plus {
  cursor: pointer;
  padding: 18px 17px 17px;
  background-color: #eff2f7;
  position: absolute;
  top: 1px;
  right: 1px;
}

.dropzone {
  display: block;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
  }
}

.icon {
  font-size: 10px;
}
