
.wrap {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  color: #292b37;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

p {
  padding: 10px 0;
}
