
.main {
  background-color: #eff2f7;
  width: 100%;
  height: 100vh;

  &__wrap {
    min-width: 960px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__in {
    display: block;
    background-color: #fff;
  }
}
