
.main {
  background-color: #eff2f7;
  min-height: 100vh;
  padding-bottom: 40px;
  display: table;
  width: 100%;

  &__wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
  }

  &__in {
    display: block;
    background-color: #fff;
  }
}
