$popup-bg-color: rgba(239, 242, 247, 0.8);

$success-color: #11d8fb;
$error-color: #f52740;

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  background-color: $popup-bg-color;
  overflow-y: auto;
  z-index: 10;
  opacity: 0;
  transform: translateZ(0);
  transition: opacity 0.2s ease-in-out;
  color: #242423;
  font-size: 14px;

  .in {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    box-shadow: 0 15px 25px rgba(132, 129, 125, 0.07);
    border-radius: 5px;
    background-color: white;
    cursor: default;
    z-index: 2;
    transform: translateZ(0);
    padding: 32px 41px;
  }

  &__header {
    padding: 0 35px;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 10px;
    text-align: center;
    color: #292b37;

    & > p:first-child {
      font-weight: 700;
    }
  }

  &__content {
    margin-top: 15px;
    padding: 0 35px;
  }

  &__footer {
    display: block;
    width: 351px;
    margin: 0 auto;
    text-align: center;

    &__button {
      display: block;
    }
  }

  &__close {
    position: absolute;
    right: 41px;
    top: 31px;
    font-size: 30px;
    color: #292b37;
    opacity: 0.5;
  }

  &.active {
    display: flex;
    opacity: 1;
    animation: show 0.2s ease-in-out;

    .content {
      animation: show-content 0.2s ease-in-out;
    }
  }

  .closer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }
}

@keyframes show-content {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.theme-default {
  .in {
    width: 672px;
  }
}

.theme-wide {
  .in {
    width: 1147px;
  }
}
