.create {
  &__header {
    padding: 22px 42px;
    border-bottom: 1px solid #d3dce6;

    a {
      color: #5791ef;
      font-size: 12px;
      font-weight: 700;
      line-height: 17px;
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__content {
    padding: 31px 45px 63px;
  }
}

.disclaim {
  margin-top: 20px;
  text-align: center;
  display: block;
  line-height: 1.5;

  & > span {
    display: block;
    font-weight: 700;
  }

  &__red {
    color: red;
  }
}
