.main {
  min-width: 950px;
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &__in {
    min-width: 930px;
    max-width: 930px;
    display: block;
    background-color: #fff;
  }
}

.footer {
  display: block;
  text-align: center;
  opacity: 0.5;
  color: #111842;
  font-size: 10px;
  font-weight: 500;
  line-height: 25px;
}
